body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.banner-1{
    background: url(images/online-registration-one.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.banner-2{
    background: url(images/online-registration-two.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.banner-3{
    background: url(images/online-registration-three.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.radio{
    display: none;
}
.images{
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.images-inner{
    width: 500%;
    transition: all 800ms cubic-bezier(0.770 0.000 0.175 0.1000);
    transition-timing-function: cubic-bezier(0.770 0.000 0.175 0.1000);
}
.images-slide{
    float: left;
}
.fake-radio .radio-btn{
    transition: all 0.5s ease-out;
}
.fake-radio{
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
}
#slider1:checked~.images .images-inner{
    margin-left: 0;
}
#slider2:checked~.images .images-inner{
    margin-left: -100%;
}
#slider3:checked~.images .images-inner{
    margin-left: -100%;
}
#slider1:checked~div .fake-radio .radio-btn:nth-child(1),
#slider2:checked~div .fake-radio .radio-btn:nth-child(2),
#slider3:checked~div .fake-radio .radio-btn:nth-child(3){
    background: #e82034;
}
.radio-btn{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #fff;
    display: inline-block !important;
    margin: 0 1px;
    cursor: pointer;
}
#slider1:checked~.labels .labels:nth-child(1),
#slider1:checked~.labels .labels:nth-child(1),
#slider1:checked~.labels .labels:nth-child(1){
    opacity: 1;
}
.label{
    opacity: 0;
    position: absolute;
}
@keyframes bullet{
    0%,
    33.32333333333334%,
    100%{
        background: red;
    }
    33.23333333333333336%{
        background:gray ;
    }

}
#play1:checked~div .fake-radio .radio-btn:nth-child(1){
    animation: bullet 12300ms infinite -1000ms;
}
#play1:checked~div .fake-radio .radio-btn:nth-child(2){
    animation: bullet 12300ms infinite 3100ms;
}
#play1:checked~div .fake-radio .radio-btn:nth-child(3){
    animation: bullet 12300ms infinite 7200ms;
}
@keyframes slider{
    0%,
     25.2333333333333%{
        margin-left: 0;
     }
     33.23333333333333336%,
     66.6666666666666%,
     91.869991999999%{
        margin-left:-200% ;
     }
    }    

.st-slider>#play1:checked~.images .images-inner{
    animation: slide 12300ms infinite; 
}
.slider-text{
    padding: 12vw 0 9vw;
    position: relative;
}
.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-text-md{
    position: absolute;
    top: 40%;
    left: 37%;
    transform: translate(-50%, -50%);
}
h3{
    color: black;
    background-color: white;
    top: 10px;
    font-size: 40px;
    padding: 12px;
    font-family: 600;
    text-align: center;
}
h6{
    
    text-align: center;
    font-size:20px ;
    color: #fff;
    background: black;
    padding: 12px;
    font-family: 600;
}
@media(max-width:1200px){
    h3{
        font-size: 30px;
        margin-top: 15%;
    }
}
@media(max-width:900px){
    h3{
        font-size: 20px;
        margin-top: 20%;
    }
}
@media(max-width:768px){
    h3{
        font-size: 15px;
        margin-top: 25%;
    }
}