
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .image-slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    transition: 2s ease;
  }
  
  .slide {
    width: 33.33%;
    height: 100%;
    float: left;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .slide::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
  }
  
  .heading-slide {
    width: 100%;
    position: absolute;
    top: 50%;
    color: black;
    text-align: center;
    transform: translateY(-50%);
    padding: 0 20%;
  }
  
  .heading-slide h1 {
    font-family: open sans,Arial,sans-serif;
    font-weight: 600;
    font-size: 35px;
    background-color: rgba(255, 255, 255, 0.856);
    border-radius: 3px;
    padding: 10px;
   
  }
  
  .heading-slide p {
    font-family: open sans,Arial,sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
    background-color: rgba(10, 10, 10, 0.677);
    padding: 7px;
    border-radius: 3px;
    
  }
  
  .heading-slide button {
    padding: 8px 15px;
    color: #fff;
    border: none;
    background: steelblue;
    outline: none;
    font-size: 15px;
    font-weight: 200;
    border-radius: 3px;
  }
  
  .heading-slide button:hover {
    color: #000;
    background-color: #fff;
  }
  
  .slide-1 {
    background-image: url(images/online-registration-one.jpg);
  }
  
  .slide-2 {
    background-image: url(images/online-registration-two.jpg);
  }
  
  .slide-3 {
    background-image: url(images/online-registration-three.jpg);
  }
  
  .image-slider .add {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 60px;
    transition: 0.4s linear;
  }
  
  .image-slider .add:hover {
    color: #000;
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff;
  }
  
  .image-slider .add label {
    display: none;
  }
  
  .image-slider .add-left {
    left: 3%;
  }
  
  .image-slider .add-right {
    right: 3%;
  }
  
  .image-slider input:nth-child(1):checked ~ .slides {
    left: 0;
  }
  
  .image-slider input:nth-child(2):checked ~ .slides {
    left: -100%;
  }
  
  .image-slider input:nth-child(3):checked ~ .slides {
    left: -200%;
  }
  
  .image-slider input:nth-child(1):checked ~ .add label:nth-child(1),
  .image-slider input:nth-child(2):checked ~ .add label:nth-child(2),
  .image-slider input:nth-child(3):checked ~ .add label:nth-child(3) {
    display: block;
  }
  
  .image-slider .slider-radio {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 15px;
  }
  
  .image-slider .slider-radio label {
    display: inline-block;
    border-radius: 100%;
    margin: 0 6px;
    width: 25px;
    height: 25px;
    background-color: #fff;
  }
  
  .image-slider input:nth-child(1):checked ~ .slider-radio label:nth-child(1),
  .image-slider input:nth-child(2):checked ~ .slider-radio label:nth-child(2),
  .image-slider input:nth-child(3):checked ~ .slider-radio label:nth-child(3) {
    background-color: #000;
    border: 2px solid #fff;
  }
  